<?xml version="1.0"?>
<DTS:Executable xmlns:DTS="www.microsoft.com/SqlServer/Dts"
  DTS:refId="Package"
  DTS:CreationDate="5/21/2022 10:29:32 AM"
  DTS:CreationName="Microsoft.Package"
  DTS:CreatorComputerName="YITBARK"
  DTS:CreatorName="YITBARK\HP"
  DTS:DTSID="{899B8E0D-87A4-44BA-A6AE-2B4848BC4320}"
  DTS:ExecutableType="Microsoft.Package"
  DTS:LastModifiedProductVersion="15.0.2000.180"
  DTS:LocaleID="1033"
  DTS:ObjectName="DimCurrency"
  DTS:PackageType="5"
  DTS:VersionBuild="149"
  DTS:VersionGUID="{3218E37B-5BC9-46B3-A0A3-8CE4391C1872}">
  <DTS:Property
    DTS:Name="PackageFormatVersion">8</DTS:Property>
  <DTS:ConnectionManagers>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[DimCurrency connection]"
      DTS:CreationName="FLATFILE"
      DTS:DTSID="{1DBDE569-FE23-4AF9-B3FE-2A51A8B8B251}"
      DTS:ObjectName="DimCurrency connection">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:Format="Delimited"
          DTS:LocaleID="1033"
          DTS:HeaderRowDelimiter="_x000D__x000A_"
          DTS:ColumnNamesInFirstDataRow="True"
          DTS:RowDelimiter=""
          DTS:TextQualifier="_x003C_none_x003E_"
          DTS:CodePage="1252"
          DTS:ConnectionString="C:\Users\HP\OneDrive - montgomerycollege.edu\Documents\SQL server traning\Esco-RetailProject\EscoCurrency.txt">
          <DTS:FlatFileColumns>
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x003B_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="CurrencyKey"
              DTS:DTSID="{22AF8045-96F2-49E2-8876-AF4C1D5137D9}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x003B_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="CurrencyLabel"
              DTS:DTSID="{0A9A6866-11C5-48CE-BB67-2DE065B709CD}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x003B_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="CurrencyName"
              DTS:DTSID="{6F5C7067-26DD-47BC-848F-78F0E72075E4}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x003B_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="CurrencyDescription"
              DTS:DTSID="{EA483720-8CD0-44DB-9314-04B9F88506FC}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x000D__x000A_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ETLLoadID"
              DTS:DTSID="{7458E7C3-E02E-4DC2-A3CD-58F8C5E3AC5E}"
              DTS:CreationName="" />
          </DTS:FlatFileColumns>
        </DTS:ConnectionManager>
      </DTS:ObjectData>
    </DTS:ConnectionManager>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[yitbark\tariku.EBC_Bank_Project]"
      DTS:CreationName="OLEDB"
      DTS:DTSID="{CDDCEEAA-E25E-4A63-8388-E3D1752F2E0C}"
      DTS:ObjectName="yitbark\tariku.EBC_Bank_Project">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:ConnectRetryCount="1"
          DTS:ConnectRetryInterval="5"
          DTS:ConnectionString="Data Source=yitbark\tariku;Initial Catalog=EBC_Bank_Project;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;" />
      </DTS:ObjectData>
    </DTS:ConnectionManager>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[yitbark\tariku.ESCO]"
      DTS:CreationName="OLEDB"
      DTS:DTSID="{26FB88D7-C142-4EA4-BBD2-461A2B665C50}"
      DTS:ObjectName="yitbark\tariku.ESCO">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:ConnectRetryCount="1"
          DTS:ConnectRetryInterval="5"
          DTS:ConnectionString="Data Source=yitbark\tariku;Initial Catalog=ESCO;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;" />
      </DTS:ObjectData>
    </DTS:ConnectionManager>
  </DTS:ConnectionManagers>
  <DTS:Variables>
    <DTS:Variable
      DTS:CreationName=""
      DTS:DTSID="{4D3739FE-BC93-40E9-9035-8AEAB134143A}"
      DTS:IncludeInDebugDump="2345"
      DTS:Namespace="User"
      DTS:ObjectName="CustomerType">
      <DTS:VariableValue
        DTS:DataType="8"
        xml:space="preserve"></DTS:VariableValue>
    </DTS:Variable>
    <DTS:Variable
      DTS:CreationName=""
      DTS:DTSID="{88EA1369-62A3-4C72-BBA6-89595D8D6E66}"
      DTS:EvaluateAsExpression="True"
      DTS:Expression="GETDATE()"
      DTS:IncludeInDebugDump="2345"
      DTS:Namespace="User"
      DTS:ObjectName="LoadDate">
      <DTS:VariableValue
        DTS:DataType="7">6/1/2022 12:34:40 AM</DTS:VariableValue>
    </DTS:Variable>
    <DTS:Variable
      DTS:CreationName=""
      DTS:DTSID="{E72C3AD4-7579-4F12-B113-5AE3844E4442}"
      DTS:EvaluateAsExpression="True"
      DTS:Expression="GETDATE()"
      DTS:IncludeInDebugDump="2345"
      DTS:Namespace="User"
      DTS:ObjectName="UpdateDate">
      <DTS:VariableValue
        DTS:DataType="7">6/1/2022 12:34:40 AM</DTS:VariableValue>
    </DTS:Variable>
  </DTS:Variables>
  <DTS:Executables>
    <DTS:Executable
      DTS:refId="Package\delete from DimCurrency"
      DTS:CreationName="Microsoft.ExecuteSQLTask"
      DTS:Description="Execute SQL Task"
      DTS:Disabled="True"
      DTS:DTSID="{60AFA166-A0E7-4B92-AC36-1EAA806ADAF6}"
      DTS:ExecutableType="Microsoft.ExecuteSQLTask"
      DTS:LocaleID="-1"
      DTS:ObjectName="delete from DimCurrency"
      DTS:TaskContact="Execute SQL Task; Microsoft Corporation; SQL Server 2019; © 2019 Microsoft Corporation; All Rights Reserved;http://www.microsoft.com/sql/support/default.asp;1"
      DTS:ThreadHint="0">
      <DTS:Variables />
      <DTS:ObjectData>
        <SQLTask:SqlTaskData
          SQLTask:Connection="{26FB88D7-C142-4EA4-BBD2-461A2B665C50}"
          SQLTask:SqlStatementSource="delete from DimCurrency" xmlns:SQLTask="www.microsoft.com/sqlserver/dts/tasks/sqltask" />
      </DTS:ObjectData>
    </DTS:Executable>
    <DTS:Executable
      DTS:refId="Package\DimCurrency"
      DTS:CreationName="Microsoft.Pipeline"
      DTS:Description="Data Flow Task"
      DTS:Disabled="True"
      DTS:DTSID="{C9B948D5-3F3B-4A0F-83AC-F6BA3C274421}"
      DTS:ExecutableType="Microsoft.Pipeline"
      DTS:LocaleID="-1"
      DTS:ObjectName="DimCurrency"
      DTS:TaskContact="Performs high-performance data extraction, transformation and loading;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved;http://www.microsoft.com/sql/support/default.asp;1">
      <DTS:Variables />
      <DTS:ObjectData>
        <pipeline
          version="1">
          <components>
            <component
              refId="Package\DimCurrency\Data Conversion"
              componentClassID="Microsoft.DataConvert"
              contactInfo="Data Conversion;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;0"
              description="Data Conversion"
              name="Data Conversion"
              usesDispositions="true">
              <inputs>
                <input
                  refId="Package\DimCurrency\Data Conversion.Inputs[Data Conversion Input]"
                  name="Data Conversion Input">
                  <inputColumns>
                    <inputColumn
                      refId="Package\DimCurrency\Data Conversion.Inputs[Data Conversion Input].Columns[ETLLoadID]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="ETLLoadID"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]" />
                    <inputColumn
                      refId="Package\DimCurrency\Data Conversion.Inputs[Data Conversion Input].Columns[CurrencyKey]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="CurrencyKey"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyKey]" />
                    <inputColumn
                      refId="Package\DimCurrency\Data Conversion.Inputs[Data Conversion Input].Columns[CurrencyLabel]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="CurrencyLabel"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyLabel]" />
                    <inputColumn
                      refId="Package\DimCurrency\Data Conversion.Inputs[Data Conversion Input].Columns[CurrencyName]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="CurrencyName"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyName]" />
                    <inputColumn
                      refId="Package\DimCurrency\Data Conversion.Inputs[Data Conversion Input].Columns[CurrencyDescription]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="CurrencyDescription"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyDescription]" />
                  </inputColumns>
                  <externalMetadataColumns />
                </input>
              </inputs>
              <outputs>
                <output
                  refId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output]"
                  exclusionGroup="1"
                  name="Data Conversion Output"
                  synchronousInputId="Package\DimCurrency\Data Conversion.Inputs[Data Conversion Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of ETLLoadID]"
                      dataType="i4"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of ETLLoadID]"
                      name="Copy of ETLLoadID"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyKey]"
                      dataType="i4"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyKey]"
                      name="Copy of CurrencyKey"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyKey]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyLabel]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="10"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyLabel]"
                      name="Copy of CurrencyLabel"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyLabel]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyName]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="20"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyName]"
                      name="Copy of CurrencyName"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyName]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyDescription]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="50"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyDescription]"
                      name="Copy of CurrencyDescription"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyDescription]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
                <output
                  refId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Error Output]"
                  exclusionGroup="1"
                  isErrorOut="true"
                  name="Data Conversion Error Output"
                  synchronousInputId="Package\DimCurrency\Data Conversion.Inputs[Data Conversion Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
            <component
              refId="Package\DimCurrency\Derived Column"
              componentClassID="Microsoft.DerivedColumn"
              contactInfo="Derived Column;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;0"
              description="Creates new column values by applying expressions to transformation input columns. Create new columns or overwrite existing ones. For example, concatenate the values from the 'first name' and 'last name' column to make a 'full name' column."
              name="Derived Column"
              usesDispositions="true">
              <inputs>
                <input
                  refId="Package\DimCurrency\Derived Column.Inputs[Derived Column Input]"
                  description="Input to the Derived Column Transformation"
                  name="Derived Column Input">
                  <externalMetadataColumns />
                </input>
              </inputs>
              <outputs>
                <output
                  refId="Package\DimCurrency\Derived Column.Outputs[Derived Column Output]"
                  description="Default Output of the Derived Column Transformation"
                  exclusionGroup="1"
                  name="Derived Column Output"
                  synchronousInputId="Package\DimCurrency\Derived Column.Inputs[Derived Column Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\DimCurrency\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]"
                      dataType="date"
                      errorOrTruncationOperation="Computation"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\DimCurrency\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]"
                      name="LoadDate"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Expression"
                          name="Expression">@[User::LoadDate]</property>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Friendly Expression"
                          expressionType="Notify"
                          name="FriendlyExpression">@[User::LoadDate]</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\DimCurrency\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]"
                      dataType="date"
                      errorOrTruncationOperation="Computation"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\DimCurrency\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]"
                      name="UpdateDate"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Expression"
                          name="Expression">@[User::UpdateDate]</property>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Friendly Expression"
                          expressionType="Notify"
                          name="FriendlyExpression">@[User::UpdateDate]</property>
                      </properties>
                    </outputColumn>
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
                <output
                  refId="Package\DimCurrency\Derived Column.Outputs[Derived Column Error Output]"
                  description="Error Output of the Derived Column Transformation"
                  exclusionGroup="1"
                  isErrorOut="true"
                  name="Derived Column Error Output"
                  synchronousInputId="Package\DimCurrency\Derived Column.Inputs[Derived Column Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\DimCurrency\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\DimCurrency\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\DimCurrency\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\DimCurrency\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
            <component
              refId="Package\DimCurrency\Flat File Source"
              componentClassID="Microsoft.FlatFileSource"
              contactInfo="Flat File Source;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;1"
              description="Flat File Source"
              localeId="1033"
              name="Flat File Source"
              usesDispositions="true"
              version="1">
              <properties>
                <property
                  dataType="System.Boolean"
                  description="Specifies whether zero-length columns are treated as null."
                  name="RetainNulls">true</property>
                <property
                  dataType="System.String"
                  description="Specifies the name of an output column containing the file name. If no name is specified, no output column containing the file name will be generated."
                  name="FileNameColumnName"></property>
              </properties>
              <connections>
                <connection
                  refId="Package\DimCurrency\Flat File Source.Connections[FlatFileConnection]"
                  connectionManagerID="Package.ConnectionManagers[DimCurrency connection]"
                  connectionManagerRefId="Package.ConnectionManagers[DimCurrency connection]"
                  name="FlatFileConnection" />
              </connections>
              <outputs>
                <output
                  refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output]"
                  name="Flat File Source Output">
                  <outputColumns>
                    <outputColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[ETLLoadID]"
                      length="50"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]"
                      name="ETLLoadID"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyKey]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[CurrencyKey]"
                      length="50"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyKey]"
                      name="CurrencyKey"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyLabel]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[CurrencyLabel]"
                      length="50"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyLabel]"
                      name="CurrencyLabel"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyName]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[CurrencyName]"
                      length="50"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyName]"
                      name="CurrencyName"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyDescription]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[CurrencyDescription]"
                      length="50"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].Columns[CurrencyDescription]"
                      name="CurrencyDescription"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                  </outputColumns>
                  <externalMetadataColumns
                    isUsed="True">
                    <externalMetadataColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[ETLLoadID]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="ETLLoadID" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[CurrencyKey]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="CurrencyKey" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[CurrencyLabel]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="CurrencyLabel" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[CurrencyName]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="CurrencyName" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[CurrencyDescription]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="CurrencyDescription" />
                  </externalMetadataColumns>
                </output>
                <output
                  refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Error Output]"
                  isErrorOut="true"
                  name="Flat File Source Error Output">
                  <outputColumns>
                    <outputColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Error Output].Columns[Flat File Source Error Output Column]"
                      codePage="1252"
                      dataType="text"
                      description="Flat File Source Error Output Column"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Error Output].Columns[Flat File Source Error Output Column]"
                      name="Flat File Source Error Output Column" />
                    <outputColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
            <component
              refId="Package\DimCurrency\OLE DB Destination"
              componentClassID="Microsoft.OLEDBDestination"
              contactInfo="OLE DB Destination;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;4"
              description="OLE DB Destination"
              name="OLE DB Destination"
              usesDispositions="true"
              version="4">
              <properties>
                <property
                  dataType="System.Int32"
                  description="The number of seconds before a command times out.  A value of 0 indicates an infinite time-out."
                  name="CommandTimeout">0</property>
                <property
                  dataType="System.String"
                  description="Specifies the name of the database object used to open a rowset."
                  name="OpenRowset">[dbo].[DimCurrency]</property>
                <property
                  dataType="System.String"
                  description="Specifies the variable that contains the name of the database object used to open a rowset."
                  name="OpenRowsetVariable"></property>
                <property
                  dataType="System.String"
                  description="The SQL command to be executed."
                  name="SqlCommand"
                  UITypeEditor="Microsoft.DataTransformationServices.Controls.ModalMultilineStringEditor"></property>
                <property
                  dataType="System.Int32"
                  description="Specifies the column code page to use when code page information is unavailable from the data source."
                  name="DefaultCodePage">1252</property>
                <property
                  dataType="System.Boolean"
                  description="Forces the use of the DefaultCodePage property value when describing character data."
                  name="AlwaysUseDefaultCodePage">false</property>
                <property
                  dataType="System.Int32"
                  description="Specifies the mode used to access the database."
                  name="AccessMode"
                  typeConverter="AccessMode">0</property>
                <property
                  dataType="System.Boolean"
                  description="Indicates whether the values supplied for identity columns will be copied to the destination. If false, values for identity columns will be auto-generated at the destination. Applies only if fast load is turned on."
                  name="FastLoadKeepIdentity">false</property>
                <property
                  dataType="System.Boolean"
                  description="Indicates whether the columns containing null will have null inserted in the destination. If false, columns containing null will have their default values inserted at the destination. Applies only if fast load is turned on."
                  name="FastLoadKeepNulls">false</property>
                <property
                  dataType="System.String"
                  description="Specifies options to be used with fast load.  Applies only if fast load is turned on."
                  name="FastLoadOptions"></property>
                <property
                  dataType="System.Int32"
                  description="Specifies when commits are issued during data insertion.  A value of 0 specifies that one commit will be issued at the end of data insertion.  Applies only if fast load is turned on."
                  name="FastLoadMaxInsertCommitSize">2147483647</property>
              </properties>
              <connections>
                <connection
                  refId="Package\DimCurrency\OLE DB Destination.Connections[OleDbConnection]"
                  connectionManagerID="Package.ConnectionManagers[yitbark\tariku.ESCO]"
                  connectionManagerRefId="Package.ConnectionManagers[yitbark\tariku.ESCO]"
                  description="The OLE DB runtime connection used to access the database."
                  name="OleDbConnection" />
              </connections>
              <inputs>
                <input
                  refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input]"
                  errorOrTruncationOperation="Insert"
                  errorRowDisposition="FailComponent"
                  hasSideEffects="true"
                  name="OLE DB Destination Input">
                  <inputColumns>
                    <inputColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[LoadDate]"
                      cachedDataType="date"
                      cachedName="LoadDate"
                      externalMetadataColumnId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[LoadDate]"
                      lineageId="Package\DimCurrency\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]" />
                    <inputColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[UpdateDate]"
                      cachedDataType="date"
                      cachedName="UpdateDate"
                      externalMetadataColumnId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[UpdateDate]"
                      lineageId="Package\DimCurrency\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]" />
                    <inputColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of ETLLoadID]"
                      cachedDataType="i4"
                      cachedName="Copy of ETLLoadID"
                      externalMetadataColumnId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[ETLLoadID]"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of ETLLoadID]" />
                    <inputColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of CurrencyKey]"
                      cachedDataType="i4"
                      cachedName="Copy of CurrencyKey"
                      externalMetadataColumnId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[CurrencyKey]"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyKey]" />
                    <inputColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of CurrencyLabel]"
                      cachedDataType="wstr"
                      cachedLength="10"
                      cachedName="Copy of CurrencyLabel"
                      externalMetadataColumnId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[CurrencyLabel]"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyLabel]" />
                    <inputColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of CurrencyName]"
                      cachedDataType="wstr"
                      cachedLength="20"
                      cachedName="Copy of CurrencyName"
                      externalMetadataColumnId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[CurrencyName]"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyName]" />
                    <inputColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of CurrencyDescription]"
                      cachedDataType="wstr"
                      cachedLength="50"
                      cachedName="Copy of CurrencyDescription"
                      externalMetadataColumnId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[CurrencyDescription]"
                      lineageId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of CurrencyDescription]" />
                  </inputColumns>
                  <externalMetadataColumns
                    isUsed="True">
                    <externalMetadataColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[ETLLoadID]"
                      dataType="i4"
                      name="ETLLoadID" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[LoadDate]"
                      dataType="dbTimeStamp"
                      name="LoadDate" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[UpdateDate]"
                      dataType="dbTimeStamp"
                      name="UpdateDate" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[CurrencyKey]"
                      dataType="i4"
                      name="CurrencyKey" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[CurrencyLabel]"
                      dataType="wstr"
                      length="10"
                      name="CurrencyLabel" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[CurrencyName]"
                      dataType="wstr"
                      length="20"
                      name="CurrencyName" />
                    <externalMetadataColumn
                      refId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[CurrencyDescription]"
                      dataType="wstr"
                      length="50"
                      name="CurrencyDescription" />
                  </externalMetadataColumns>
                </input>
              </inputs>
              <outputs>
                <output
                  refId="Package\DimCurrency\OLE DB Destination.Outputs[OLE DB Destination Error Output]"
                  exclusionGroup="1"
                  isErrorOut="true"
                  name="OLE DB Destination Error Output"
                  synchronousInputId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\DimCurrency\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\DimCurrency\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\DimCurrency\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\DimCurrency\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
          </components>
          <paths>
            <path
              refId="Package\DimCurrency.Paths[Data Conversion Output]"
              endId="Package\DimCurrency\OLE DB Destination.Inputs[OLE DB Destination Input]"
              name="Data Conversion Output"
              startId="Package\DimCurrency\Data Conversion.Outputs[Data Conversion Output]" />
            <path
              refId="Package\DimCurrency.Paths[Derived Column Output]"
              endId="Package\DimCurrency\Data Conversion.Inputs[Data Conversion Input]"
              name="Derived Column Output"
              startId="Package\DimCurrency\Derived Column.Outputs[Derived Column Output]" />
            <path
              refId="Package\DimCurrency.Paths[Flat File Source Output]"
              endId="Package\DimCurrency\Derived Column.Inputs[Derived Column Input]"
              name="Flat File Source Output"
              startId="Package\DimCurrency\Flat File Source.Outputs[Flat File Source Output]" />
          </paths>
        </pipeline>
      </DTS:ObjectData>
    </DTS:Executable>
  </DTS:Executables>
  <DTS:PrecedenceConstraints>
    <DTS:PrecedenceConstraint
      DTS:refId="Package.PrecedenceConstraints[Constraint 3]"
      DTS:CreationName=""
      DTS:DTSID="{98EF4AFC-C8AD-435B-92C1-B12C60CE2388}"
      DTS:From="Package\delete from DimCurrency"
      DTS:LogicalAnd="True"
      DTS:ObjectName="Constraint 3"
      DTS:To="Package\DimCurrency" />
  </DTS:PrecedenceConstraints>
  <DTS:DesignTimeProperties><![CDATA[<?xml version="1.0"?>
<!--This CDATA section contains the layout information of the package. The section includes information such as (x,y) coordinates, width, and height.-->
<!--If you manually edit this section and make a mistake, you can delete it. -->
<!--The package will still be able to load normally but the previous layout information will be lost and the designer will automatically re-arrange the elements on the design surface.-->
<Objects
  Version="8">
  <!--Each node below will contain properties that do not affect runtime behavior.-->
  <Package
    design-time-name="Package">
    <LayoutInfo>
      <GraphLayout
        Capacity="4" xmlns="clr-namespace:Microsoft.SqlServer.IntegrationServices.Designer.Model.Serialization;assembly=Microsoft.SqlServer.IntegrationServices.Graph" xmlns:mssgle="clr-namespace:Microsoft.SqlServer.Graph.LayoutEngine;assembly=Microsoft.SqlServer.Graph" xmlns:assembly="http://schemas.microsoft.com/winfx/2006/xaml">
        <NodeLayout
          Size="201,42"
          Id="Package\delete from DimCurrency"
          TopLeft="293.5,14" />
        <NodeLayout
          Size="143,42"
          Id="Package\DimCurrency"
          TopLeft="32,10" />
        <EdgeLayout
          Id="Package.PrecedenceConstraints[Constraint 3]"
          TopLeft="293.5,33">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="-118.5,0"
              Start="0,0"
              End="-111,0">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="-111,0" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <EdgeLabelCollection />
          </EdgeLayout.Labels>
        </EdgeLayout>
      </GraphLayout>
    </LayoutInfo>
  </Package>
  <TaskHost
    design-time-name="Package\DimCurrency">
    <LayoutInfo>
      <GraphLayout
        Capacity="8" xmlns="clr-namespace:Microsoft.SqlServer.IntegrationServices.Designer.Model.Serialization;assembly=Microsoft.SqlServer.IntegrationServices.Graph" xmlns:mssgle="clr-namespace:Microsoft.SqlServer.Graph.LayoutEngine;assembly=Microsoft.SqlServer.Graph" xmlns:assembly="http://schemas.microsoft.com/winfx/2006/xaml" xmlns:mssgm="clr-namespace:Microsoft.SqlServer.Graph.Model;assembly=Microsoft.SqlServer.Graph">
        <NodeLayout
          Size="177,42"
          Id="Package\DimCurrency\OLE DB Destination"
          TopLeft="51.5,260.5" />
        <NodeLayout
          Size="156,42"
          Id="Package\DimCurrency\Flat File Source"
          TopLeft="5.5,5.5" />
        <NodeLayout
          Size="161,42"
          Id="Package\DimCurrency\Data Conversion"
          TopLeft="240.5,167.5" />
        <NodeLayout
          Size="158,42"
          Id="Package\DimCurrency\Derived Column"
          TopLeft="133.5,96.5" />
        <EdgeLayout
          Id="Package\DimCurrency.Paths[Flat File Source Output]"
          TopLeft="83.5,47.5">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="129,49"
              Start="0,0"
              End="129,41.5">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="0,20.5" />
                  <mssgle:CubicBezierSegment
                    Point1="0,20.5"
                    Point2="0,24.5"
                    Point3="4,24.5" />
                  <mssgle:LineSegment
                    End="125,24.5" />
                  <mssgle:CubicBezierSegment
                    Point1="125,24.5"
                    Point2="129,24.5"
                    Point3="129,28.5" />
                  <mssgle:LineSegment
                    End="129,41.5" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <mssgm:EdgeLabel
              BoundingBox="0,0,0,0"
              RelativePosition="Any" />
          </EdgeLayout.Labels>
        </EdgeLayout>
        <EdgeLayout
          Id="Package\DimCurrency.Paths[Derived Column Output]"
          TopLeft="212.5,138.5">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="108.5,29"
              Start="0,0"
              End="108.5,21.5">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="0,10.5" />
                  <mssgle:CubicBezierSegment
                    Point1="0,10.5"
                    Point2="0,14.5"
                    Point3="4,14.5" />
                  <mssgle:LineSegment
                    End="104.5,14.5" />
                  <mssgle:CubicBezierSegment
                    Point1="104.5,14.5"
                    Point2="108.5,14.5"
                    Point3="108.5,18.5" />
                  <mssgle:LineSegment
                    End="108.5,21.5" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <mssgm:EdgeLabel
              BoundingBox="0,0,0,0"
              RelativePosition="Any" />
          </EdgeLayout.Labels>
        </EdgeLayout>
        <EdgeLayout
          Id="Package\DimCurrency.Paths[Data Conversion Output]"
          TopLeft="321,209.5">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="-181,51"
              Start="0,0"
              End="-181,43.5">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="0,21.5" />
                  <mssgle:CubicBezierSegment
                    Point1="0,21.5"
                    Point2="0,25.5"
                    Point3="-4,25.5" />
                  <mssgle:LineSegment
                    End="-177,25.5" />
                  <mssgle:CubicBezierSegment
                    Point1="-177,25.5"
                    Point2="-181,25.5"
                    Point3="-181,29.5" />
                  <mssgle:LineSegment
                    End="-181,43.5" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <mssgm:EdgeLabel
              BoundingBox="0,0,0,0"
              RelativePosition="Any" />
          </EdgeLayout.Labels>
        </EdgeLayout>
      </GraphLayout>
    </LayoutInfo>
  </TaskHost>
  <PipelineComponentMetadata
    design-time-name="Package\DimCurrency\OLE DB Destination">
    <Properties>
      <Property>
        <Name>DataSourceViewID</Name>
      </Property>
      <Property>
        <Name>TableInfoObjectType</Name>
        <Value
          type="q2:string">Table</Value>
      </Property>
    </Properties>
  </PipelineComponentMetadata>
</Objects>]]></DTS:DesignTimeProperties>
</DTS:Executable>