<?xml version="1.0"?>
<DTS:Executable xmlns:DTS="www.microsoft.com/SqlServer/Dts"
  DTS:refId="Package"
  DTS:CreationDate="5/21/2022 10:39:47 AM"
  DTS:CreationName="Microsoft.Package"
  DTS:CreatorComputerName="YITBARK"
  DTS:CreatorName="YITBARK\HP"
  DTS:DTSID="{F106DB85-8723-4903-9599-72143C9AE928}"
  DTS:ExecutableType="Microsoft.Package"
  DTS:LastModifiedProductVersion="15.0.2000.180"
  DTS:LocaleID="1033"
  DTS:ObjectName="DimOutage"
  DTS:PackageType="5"
  DTS:VersionBuild="19"
  DTS:VersionGUID="{40EDEF6C-25D4-403F-A285-085227D1CE0B}">
  <DTS:Property
    DTS:Name="PackageFormatVersion">8</DTS:Property>
  <DTS:ConnectionManagers>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[DimOutageConn]"
      DTS:CreationName="FLATFILE"
      DTS:DTSID="{9AC4FB89-1D96-493F-BBBE-48A06215D27D}"
      DTS:ObjectName="DimOutageConn">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:Format="Delimited"
          DTS:LocaleID="1033"
          DTS:HeaderRowDelimiter="_x000D__x000A_"
          DTS:ColumnNamesInFirstDataRow="True"
          DTS:RowDelimiter=""
          DTS:TextQualifier="_x003C_none_x003E_"
          DTS:CodePage="1252"
          DTS:ConnectionString="C:\Users\HP\OneDrive - montgomerycollege.edu\Documents\SQL server traning\Esco-RetailProject\EscoOutage.txt">
          <DTS:FlatFileColumns>
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageKey"
              DTS:DTSID="{33DFDA6B-5628-4503-BD34-100A1F0C9DE5}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageLabel"
              DTS:DTSID="{463391A8-CC0D-402A-B1FA-9CD2E3091562}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageName"
              DTS:DTSID="{A5C7CD58-8B38-4441-B54F-BC2C4150E234}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageDescription"
              DTS:DTSID="{583755F0-D289-4AA8-A705-0AD41306A91A}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageType"
              DTS:DTSID="{29C3519F-81BA-4652-BA4A-EB1406C155E4}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageTypeDescription"
              DTS:DTSID="{41C4657C-2C75-49AA-9E14-4CDA38AA89FB}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageSubType"
              DTS:DTSID="{9FB96163-3915-44B4-871D-3B443A8B7B9B}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageSubTypeDescription"
              DTS:DTSID="{66728A34-5291-40ED-8D17-037267F2340D}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x000D__x000A_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ETLLoadID"
              DTS:DTSID="{BE7B9D44-A3E4-4FAC-A908-8E50F1023E6A}"
              DTS:CreationName="" />
          </DTS:FlatFileColumns>
        </DTS:ConnectionManager>
      </DTS:ObjectData>
    </DTS:ConnectionManager>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[DimProductSubcategory_Conn]"
      DTS:CreationName="FLATFILE"
      DTS:DTSID="{B76DC475-6666-41C8-B409-D4BCED8932B5}"
      DTS:ObjectName="DimProductSubcategory_Conn">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:Format="Delimited"
          DTS:LocaleID="1033"
          DTS:HeaderRowDelimiter="_x000D__x000A_"
          DTS:ColumnNamesInFirstDataRow="True"
          DTS:RowDelimiter=""
          DTS:TextQualifier="_x003C_none_x003E_"
          DTS:CodePage="1252"
          DTS:ConnectionString="C:\Users\HP\OneDrive - montgomerycollege.edu\Documents\SQL server traning\Esco-RetailProject\EscoProductSubCategory.txt">
          <DTS:FlatFileColumns>
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ProductSubcategoryKey"
              DTS:DTSID="{E1460F22-8CA1-4901-BBAD-5DF61596BA94}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ProductSubcategoryLabel"
              DTS:DTSID="{B2D59284-2E53-4762-9019-DE567FD6DA77}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ProductSubcategoryName"
              DTS:DTSID="{9AF02D86-6318-403F-948C-07B7A6F82FCC}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ProductSubcategoryDescription"
              DTS:DTSID="{A1B31ED9-E680-4654-8DA0-46571C436BEF}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ProductCategoryKey"
              DTS:DTSID="{B70B416B-B4A4-4401-A418-37F114C5199E}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x000D__x000A_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ETLLoadID"
              DTS:DTSID="{F48E04C9-4D32-4D46-8B99-241B5239EF64}"
              DTS:CreationName="" />
          </DTS:FlatFileColumns>
        </DTS:ConnectionManager>
      </DTS:ObjectData>
    </DTS:ConnectionManager>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[DimSalesTerritory Conn]"
      DTS:CreationName="FLATFILE"
      DTS:DTSID="{7367DB02-B16A-4E8B-9FBB-C4D49ADE478F}"
      DTS:ObjectName="DimSalesTerritory Conn">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:Format="Delimited"
          DTS:LocaleID="1033"
          DTS:HeaderRowDelimiter="_x000D__x000A_"
          DTS:ColumnNamesInFirstDataRow="True"
          DTS:RowDelimiter=""
          DTS:TextQualifier="_x003C_none_x003E_"
          DTS:CodePage="1252"
          DTS:ConnectionString="C:\Users\HP\OneDrive - montgomerycollege.edu\Documents\SQL server traning\Esco-RetailProject\EscoSalesTerritory.txt">
          <DTS:FlatFileColumns>
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="SalesTerritoryKey"
              DTS:DTSID="{0AF1625D-4505-4BF0-84DF-85DA0B5C3F20}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="GeographyKey"
              DTS:DTSID="{5E0F7C8C-7513-4335-BCFA-CBE5D5C29870}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="SalesTerritoryLabel"
              DTS:DTSID="{28876110-2BFC-4CD5-966E-3713AA44777F}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="SalesTerritoryName"
              DTS:DTSID="{5703914A-294F-4A83-AAEA-EFAC52C292F4}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="SalesTerritoryRegion"
              DTS:DTSID="{EBB8C4E6-A2A8-4F0A-B66C-3E396F280E63}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="SalesTerritoryCountry"
              DTS:DTSID="{539577BE-E07A-4DCC-B72D-28097E2E6235}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="SalesTerritoryGroup"
              DTS:DTSID="{C14CC8BC-0C0E-4039-BACE-7B9471228458}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="SalesTerritoryLevel"
              DTS:DTSID="{6DE46978-942F-45B4-AB24-7AF4910AEF78}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="SalesTerritoryManager"
              DTS:DTSID="{C7598347-5139-46AB-8CD8-47E71454BAB0}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="StartDate"
              DTS:DTSID="{B822708F-6625-4701-ABE7-A4CB015C81F6}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="EndDate"
              DTS:DTSID="{290DA606-DF5A-47C8-B047-27248DF8CE14}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="Status"
              DTS:DTSID="{B3BC90E0-7FD9-4368-BB28-9A3A209A0D88}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x000D__x000A_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ETLLoadID"
              DTS:DTSID="{A838D371-2561-4DFA-A356-514EF9062364}"
              DTS:CreationName="" />
          </DTS:FlatFileColumns>
        </DTS:ConnectionManager>
      </DTS:ObjectData>
    </DTS:ConnectionManager>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[DimScenario conn]"
      DTS:CreationName="FLATFILE"
      DTS:DTSID="{E70976AB-43D8-4A34-95C7-8E927980D830}"
      DTS:ObjectName="DimScenario conn">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:Format="Delimited"
          DTS:LocaleID="1033"
          DTS:HeaderRowDelimiter="_x000D__x000A_"
          DTS:ColumnNamesInFirstDataRow="True"
          DTS:RowDelimiter=""
          DTS:TextQualifier="_x003C_none_x003E_"
          DTS:CodePage="1252"
          DTS:ConnectionString="C:\Users\HP\OneDrive - montgomerycollege.edu\Documents\SQL server traning\Esco-RetailProject\EscoScenario.txt">
          <DTS:FlatFileColumns>
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ScenarioKey"
              DTS:DTSID="{FD48B0CC-666D-4168-B2C2-028ABC0A4E00}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ScenarioName"
              DTS:DTSID="{48BB7F12-C2FD-4D95-B5CB-E64D882B289A}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x007C_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ScenarioDescription"
              DTS:DTSID="{D2205A03-1383-4FCB-AC7F-2CC4B2FA4C70}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x000D__x000A_"
              DTS:MaximumWidth="50"
              DTS:DataType="129"
              DTS:TextQualified="True"
              DTS:ObjectName="ETLLoadID"
              DTS:DTSID="{D16523E4-C01B-4929-A1FA-63A24A66C350}"
              DTS:CreationName="" />
          </DTS:FlatFileColumns>
        </DTS:ConnectionManager>
      </DTS:ObjectData>
    </DTS:ConnectionManager>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[yitbark\tariku.ESCO]"
      DTS:CreationName="OLEDB"
      DTS:DTSID="{7C1185C3-70D5-4300-BA42-5DAA252D099A}"
      DTS:ObjectName="yitbark\tariku.ESCO">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:ConnectRetryCount="1"
          DTS:ConnectRetryInterval="5"
          DTS:ConnectionString="Data Source=yitbark\tariku;Initial Catalog=ESCO;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;" />
      </DTS:ObjectData>
    </DTS:ConnectionManager>
  </DTS:ConnectionManagers>
  <DTS:Variables>
    <DTS:Variable
      DTS:CreationName=""
      DTS:DTSID="{2DBDD296-EE49-44EE-A8CE-BBF007795E5B}"
      DTS:IncludeInDebugDump="6789"
      DTS:Namespace="User"
      DTS:ObjectName="LoadDate">
      <DTS:VariableValue
        DTS:DataType="7">5/26/2022 2:40:20 AM</DTS:VariableValue>
    </DTS:Variable>
    <DTS:Variable
      DTS:CreationName=""
      DTS:DTSID="{B650D593-2CD9-4A49-875C-49613E7FEEBF}"
      DTS:IncludeInDebugDump="6789"
      DTS:Namespace="User"
      DTS:ObjectName="UpdateDate">
      <DTS:VariableValue
        DTS:DataType="7">5/26/2022 2:40:32 AM</DTS:VariableValue>
    </DTS:Variable>
  </DTS:Variables>
  <DTS:Executables>
    <DTS:Executable
      DTS:refId="Package\Delete from DimOutage"
      DTS:CreationName="Microsoft.ExecuteSQLTask"
      DTS:Description="Execute SQL Task"
      DTS:Disabled="True"
      DTS:DTSID="{D2D12990-20D5-4658-B3FA-2ADE50DBEAC2}"
      DTS:ExecutableType="Microsoft.ExecuteSQLTask"
      DTS:LocaleID="-1"
      DTS:ObjectName="Delete from DimOutage"
      DTS:TaskContact="Execute SQL Task; Microsoft Corporation; SQL Server 2019; © 2019 Microsoft Corporation; All Rights Reserved;http://www.microsoft.com/sql/support/default.asp;1"
      DTS:ThreadHint="0">
      <DTS:Variables />
      <DTS:ObjectData>
        <SQLTask:SqlTaskData
          SQLTask:Connection="{7C1185C3-70D5-4300-BA42-5DAA252D099A}"
          SQLTask:SqlStatementSource="Delete from  DimOutage" xmlns:SQLTask="www.microsoft.com/sqlserver/dts/tasks/sqltask" />
      </DTS:ObjectData>
    </DTS:Executable>
    <DTS:Executable
      DTS:refId="Package\Outage"
      DTS:CreationName="Microsoft.Pipeline"
      DTS:Description="Data Flow Task"
      DTS:Disabled="True"
      DTS:DTSID="{26D377D3-8456-4796-AF57-0E6F0345FABA}"
      DTS:ExecutableType="Microsoft.Pipeline"
      DTS:LocaleID="-1"
      DTS:ObjectName="Outage"
      DTS:TaskContact="Performs high-performance data extraction, transformation and loading;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved;http://www.microsoft.com/sql/support/default.asp;1">
      <DTS:Variables />
      <DTS:ObjectData>
        <pipeline
          version="1">
          <components>
            <component
              refId="Package\Outage\Data Conversion"
              componentClassID="Microsoft.DataConvert"
              contactInfo="Data Conversion;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;0"
              description="Data Conversion"
              name="Data Conversion"
              usesDispositions="true">
              <inputs>
                <input
                  refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input]"
                  name="Data Conversion Input">
                  <inputColumns>
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[OutageKey]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageKey"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageKey]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[OutageLabel]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageLabel"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageLabel]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[OutageName]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageName"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageName]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[OutageDescription]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageDescription"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageDescription]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[OutageType]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageType"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageType]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[OutageTypeDescription]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageTypeDescription"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageTypeDescription]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[OutageSubType]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageSubType"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageSubType]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[OutageSubTypeDescription]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageSubTypeDescription"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageSubTypeDescription]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[ETLLoadID]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="ETLLoadID"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[LoadDate]"
                      cachedDataType="date"
                      cachedName="LoadDate"
                      lineageId="Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]" />
                    <inputColumn
                      refId="Package\Outage\Data Conversion.Inputs[Data Conversion Input].Columns[UpdateDate]"
                      cachedDataType="date"
                      cachedName="UpdateDate"
                      lineageId="Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]" />
                  </inputColumns>
                  <externalMetadataColumns />
                </input>
              </inputs>
              <outputs>
                <output
                  refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output]"
                  exclusionGroup="1"
                  name="Data Conversion Output"
                  synchronousInputId="Package\Outage\Data Conversion.Inputs[Data Conversion Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageKey]"
                      dataType="i4"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageKey]"
                      name="Copy of OutageKey"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageKey]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageLabel]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="50"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageLabel]"
                      name="Copy of OutageLabel"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageLabel]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageName]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="50"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageName]"
                      name="Copy of OutageName"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageName]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageDescription]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="200"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageDescription]"
                      name="Copy of OutageDescription"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageDescription]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageType]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="50"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageType]"
                      name="Copy of OutageType"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageType]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageTypeDescription]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="200"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageTypeDescription]"
                      name="Copy of OutageTypeDescription"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageTypeDescription]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageSubType]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="50"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageSubType]"
                      name="Copy of OutageSubType"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageSubType]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageSubTypeDescription]"
                      dataType="wstr"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      length="200"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageSubTypeDescription]"
                      name="Copy of OutageSubTypeDescription"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageSubTypeDescription]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of ETLLoadID]"
                      dataType="i4"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of ETLLoadID]"
                      name="Copy of ETLLoadID"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of LoadDate]"
                      dataType="date"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of LoadDate]"
                      name="Copy of LoadDate"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of UpdateDate]"
                      dataType="date"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of UpdateDate]"
                      name="Copy of UpdateDate"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.Int32"
                          description="Specifies the input column used as the source of data for the conversion."
                          name="SourceInputColumnLineageID">#{Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]}</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                      </properties>
                    </outputColumn>
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
                <output
                  refId="Package\Outage\Data Conversion.Outputs[Data Conversion Error Output]"
                  exclusionGroup="1"
                  isErrorOut="true"
                  name="Data Conversion Error Output"
                  synchronousInputId="Package\Outage\Data Conversion.Inputs[Data Conversion Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\Outage\Data Conversion.Outputs[Data Conversion Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
            <component
              refId="Package\Outage\Derived Column"
              componentClassID="Microsoft.DerivedColumn"
              contactInfo="Derived Column;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;0"
              description="Creates new column values by applying expressions to transformation input columns. Create new columns or overwrite existing ones. For example, concatenate the values from the 'first name' and 'last name' column to make a 'full name' column."
              name="Derived Column"
              usesDispositions="true">
              <inputs>
                <input
                  refId="Package\Outage\Derived Column.Inputs[Derived Column Input]"
                  description="Input to the Derived Column Transformation"
                  name="Derived Column Input">
                  <inputColumns>
                    <inputColumn
                      refId="Package\Outage\Derived Column.Inputs[Derived Column Input].Columns[OutageDescription]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageDescription"
                      errorOrTruncationOperation="Computation"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageDescription]"
                      truncationRowDisposition="FailComponent"
                      usageType="readWrite">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Expression"
                          name="Expression">#{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageDescription]} == "" ? #{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageName]} : #{Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageDescription]}</property>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Friendly Expression"
                          expressionType="Notify"
                          name="FriendlyExpression">OutageDescription == "" ? OutageName : OutageDescription</property>
                      </properties>
                    </inputColumn>
                    <inputColumn
                      refId="Package\Outage\Derived Column.Inputs[Derived Column Input].Columns[OutageName]"
                      cachedCodepage="1252"
                      cachedDataType="str"
                      cachedLength="50"
                      cachedName="OutageName"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageName]" />
                  </inputColumns>
                  <externalMetadataColumns />
                </input>
              </inputs>
              <outputs>
                <output
                  refId="Package\Outage\Derived Column.Outputs[Derived Column Output]"
                  description="Default Output of the Derived Column Transformation"
                  exclusionGroup="1"
                  name="Derived Column Output"
                  synchronousInputId="Package\Outage\Derived Column.Inputs[Derived Column Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]"
                      dataType="date"
                      errorOrTruncationOperation="Computation"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]"
                      name="LoadDate"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Expression"
                          name="Expression">@[User::LoadDate]</property>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Friendly Expression"
                          expressionType="Notify"
                          name="FriendlyExpression">@[User::LoadDate]</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]"
                      dataType="date"
                      errorOrTruncationOperation="Computation"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]"
                      name="UpdateDate"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Expression"
                          name="Expression">@[User::UpdateDate]</property>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Friendly Expression"
                          expressionType="Notify"
                          name="FriendlyExpression">@[User::UpdateDate]</property>
                      </properties>
                    </outputColumn>
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
                <output
                  refId="Package\Outage\Derived Column.Outputs[Derived Column Error Output]"
                  description="Error Output of the Derived Column Transformation"
                  exclusionGroup="1"
                  isErrorOut="true"
                  name="Derived Column Error Output"
                  synchronousInputId="Package\Outage\Derived Column.Inputs[Derived Column Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\Outage\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\Outage\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\Outage\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\Outage\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
            <component
              refId="Package\Outage\Flat File Source"
              componentClassID="Microsoft.FlatFileSource"
              contactInfo="Flat File Source;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;1"
              description="Flat File Source"
              localeId="1033"
              name="Flat File Source"
              usesDispositions="true"
              version="1">
              <properties>
                <property
                  dataType="System.Boolean"
                  description="Specifies whether zero-length columns are treated as null."
                  name="RetainNulls">true</property>
                <property
                  dataType="System.String"
                  description="Specifies the name of an output column containing the file name. If no name is specified, no output column containing the file name will be generated."
                  name="FileNameColumnName"></property>
              </properties>
              <connections>
                <connection
                  refId="Package\Outage\Flat File Source.Connections[FlatFileConnection]"
                  connectionManagerID="Package.ConnectionManagers[DimOutageConn]"
                  connectionManagerRefId="Package.ConnectionManagers[DimOutageConn]"
                  name="FlatFileConnection" />
              </connections>
              <outputs>
                <output
                  refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output]"
                  name="Flat File Source Output">
                  <outputColumns>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageKey]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageKey]"
                      length="50"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageKey]"
                      name="OutageKey"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageLabel]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageLabel]"
                      length="50"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageLabel]"
                      name="OutageLabel"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageName]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageName]"
                      length="50"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageName]"
                      name="OutageName"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageDescription]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageDescription]"
                      length="50"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageDescription]"
                      name="OutageDescription"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageType]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageType]"
                      length="50"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageType]"
                      name="OutageType"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageTypeDescription]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageTypeDescription]"
                      length="50"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageTypeDescription]"
                      name="OutageTypeDescription"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageSubType]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageSubType]"
                      length="50"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageSubType]"
                      name="OutageSubType"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageSubTypeDescription]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageSubTypeDescription]"
                      length="50"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[OutageSubTypeDescription]"
                      name="OutageSubTypeDescription"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]"
                      codePage="1252"
                      dataType="str"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[ETLLoadID]"
                      length="50"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]"
                      name="ETLLoadID"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                  </outputColumns>
                  <externalMetadataColumns
                    isUsed="True">
                    <externalMetadataColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageKey]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="OutageKey" />
                    <externalMetadataColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageLabel]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="OutageLabel" />
                    <externalMetadataColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageName]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="OutageName" />
                    <externalMetadataColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageDescription]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="OutageDescription" />
                    <externalMetadataColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageType]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="OutageType" />
                    <externalMetadataColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageTypeDescription]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="OutageTypeDescription" />
                    <externalMetadataColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageSubType]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="OutageSubType" />
                    <externalMetadataColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageSubTypeDescription]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="OutageSubTypeDescription" />
                    <externalMetadataColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[ETLLoadID]"
                      codePage="1252"
                      dataType="str"
                      length="50"
                      name="ETLLoadID" />
                  </externalMetadataColumns>
                </output>
                <output
                  refId="Package\Outage\Flat File Source.Outputs[Flat File Source Error Output]"
                  isErrorOut="true"
                  name="Flat File Source Error Output">
                  <outputColumns>
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Error Output].Columns[Flat File Source Error Output Column]"
                      codePage="1252"
                      dataType="text"
                      description="Flat File Source Error Output Column"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Error Output].Columns[Flat File Source Error Output Column]"
                      name="Flat File Source Error Output Column" />
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\Outage\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\Outage\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
            <component
              refId="Package\Outage\OLE DB Destination"
              componentClassID="Microsoft.OLEDBDestination"
              contactInfo="OLE DB Destination;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;4"
              description="OLE DB Destination"
              name="OLE DB Destination"
              usesDispositions="true"
              version="4">
              <properties>
                <property
                  dataType="System.Int32"
                  description="The number of seconds before a command times out.  A value of 0 indicates an infinite time-out."
                  name="CommandTimeout">0</property>
                <property
                  dataType="System.String"
                  description="Specifies the name of the database object used to open a rowset."
                  name="OpenRowset">[dbo].[DimOutage]</property>
                <property
                  dataType="System.String"
                  description="Specifies the variable that contains the name of the database object used to open a rowset."
                  name="OpenRowsetVariable"></property>
                <property
                  dataType="System.String"
                  description="The SQL command to be executed."
                  name="SqlCommand"
                  UITypeEditor="Microsoft.DataTransformationServices.Controls.ModalMultilineStringEditor"></property>
                <property
                  dataType="System.Int32"
                  description="Specifies the column code page to use when code page information is unavailable from the data source."
                  name="DefaultCodePage">1252</property>
                <property
                  dataType="System.Boolean"
                  description="Forces the use of the DefaultCodePage property value when describing character data."
                  name="AlwaysUseDefaultCodePage">false</property>
                <property
                  dataType="System.Int32"
                  description="Specifies the mode used to access the database."
                  name="AccessMode"
                  typeConverter="AccessMode">3</property>
                <property
                  dataType="System.Boolean"
                  description="Indicates whether the values supplied for identity columns will be copied to the destination. If false, values for identity columns will be auto-generated at the destination. Applies only if fast load is turned on."
                  name="FastLoadKeepIdentity">false</property>
                <property
                  dataType="System.Boolean"
                  description="Indicates whether the columns containing null will have null inserted in the destination. If false, columns containing null will have their default values inserted at the destination. Applies only if fast load is turned on."
                  name="FastLoadKeepNulls">false</property>
                <property
                  dataType="System.String"
                  description="Specifies options to be used with fast load.  Applies only if fast load is turned on."
                  name="FastLoadOptions">TABLOCK,CHECK_CONSTRAINTS</property>
                <property
                  dataType="System.Int32"
                  description="Specifies when commits are issued during data insertion.  A value of 0 specifies that one commit will be issued at the end of data insertion.  Applies only if fast load is turned on."
                  name="FastLoadMaxInsertCommitSize">2147483647</property>
              </properties>
              <connections>
                <connection
                  refId="Package\Outage\OLE DB Destination.Connections[OleDbConnection]"
                  connectionManagerID="Package.ConnectionManagers[yitbark\tariku.ESCO]"
                  connectionManagerRefId="Package.ConnectionManagers[yitbark\tariku.ESCO]"
                  description="The OLE DB runtime connection used to access the database."
                  name="OleDbConnection" />
              </connections>
              <inputs>
                <input
                  refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input]"
                  errorOrTruncationOperation="Insert"
                  errorRowDisposition="FailComponent"
                  hasSideEffects="true"
                  name="OLE DB Destination Input">
                  <inputColumns>
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[LoadDate]"
                      cachedDataType="date"
                      cachedName="LoadDate"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[LoadDate]"
                      lineageId="Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[UpdateDate]"
                      cachedDataType="date"
                      cachedName="UpdateDate"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[UpdateDate]"
                      lineageId="Package\Outage\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of OutageKey]"
                      cachedDataType="i4"
                      cachedName="Copy of OutageKey"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageKey]"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageKey]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of OutageLabel]"
                      cachedDataType="wstr"
                      cachedLength="50"
                      cachedName="Copy of OutageLabel"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageLabel]"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageLabel]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of OutageName]"
                      cachedDataType="wstr"
                      cachedLength="50"
                      cachedName="Copy of OutageName"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageName]"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageName]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of OutageDescription]"
                      cachedDataType="wstr"
                      cachedLength="200"
                      cachedName="Copy of OutageDescription"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageDescription]"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageDescription]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of OutageType]"
                      cachedDataType="wstr"
                      cachedLength="50"
                      cachedName="Copy of OutageType"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageType]"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageType]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of OutageTypeDescription]"
                      cachedDataType="wstr"
                      cachedLength="200"
                      cachedName="Copy of OutageTypeDescription"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageTypeDescription]"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageTypeDescription]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of OutageSubType]"
                      cachedDataType="wstr"
                      cachedLength="50"
                      cachedName="Copy of OutageSubType"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageSubType]"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageSubType]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of ETLLoadID]"
                      cachedDataType="i4"
                      cachedName="Copy of ETLLoadID"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[ETLLoadID]"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of ETLLoadID]" />
                    <inputColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Copy of OutageSubTypeDescription]"
                      cachedDataType="wstr"
                      cachedLength="200"
                      cachedName="Copy of OutageSubTypeDescription"
                      externalMetadataColumnId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageSubTypeDescription]"
                      lineageId="Package\Outage\Data Conversion.Outputs[Data Conversion Output].Columns[Copy of OutageSubTypeDescription]" />
                  </inputColumns>
                  <externalMetadataColumns
                    isUsed="True">
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageKey]"
                      dataType="i4"
                      name="OutageKey" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageLabel]"
                      dataType="wstr"
                      length="100"
                      name="OutageLabel" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageName]"
                      dataType="wstr"
                      length="50"
                      name="OutageName" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageDescription]"
                      dataType="wstr"
                      length="200"
                      name="OutageDescription" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageType]"
                      dataType="wstr"
                      length="50"
                      name="OutageType" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageTypeDescription]"
                      dataType="wstr"
                      length="200"
                      name="OutageTypeDescription" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageSubType]"
                      dataType="wstr"
                      length="50"
                      name="OutageSubType" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageSubTypeDescription]"
                      dataType="wstr"
                      length="200"
                      name="OutageSubTypeDescription" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[ETLLoadID]"
                      dataType="i4"
                      name="ETLLoadID" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[LoadDate]"
                      dataType="dbTimeStamp"
                      name="LoadDate" />
                    <externalMetadataColumn
                      refId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[UpdateDate]"
                      dataType="dbTimeStamp"
                      name="UpdateDate" />
                  </externalMetadataColumns>
                </input>
              </inputs>
              <outputs>
                <output
                  refId="Package\Outage\OLE DB Destination.Outputs[OLE DB Destination Error Output]"
                  exclusionGroup="1"
                  isErrorOut="true"
                  name="OLE DB Destination Error Output"
                  synchronousInputId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\Outage\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\Outage\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\Outage\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\Outage\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
          </components>
          <paths>
            <path
              refId="Package\Outage.Paths[Data Conversion Output]"
              endId="Package\Outage\OLE DB Destination.Inputs[OLE DB Destination Input]"
              name="Data Conversion Output"
              startId="Package\Outage\Data Conversion.Outputs[Data Conversion Output]" />
            <path
              refId="Package\Outage.Paths[Derived Column Output]"
              endId="Package\Outage\Data Conversion.Inputs[Data Conversion Input]"
              name="Derived Column Output"
              startId="Package\Outage\Derived Column.Outputs[Derived Column Output]" />
            <path
              refId="Package\Outage.Paths[Flat File Source Output]"
              endId="Package\Outage\Derived Column.Inputs[Derived Column Input]"
              name="Flat File Source Output"
              startId="Package\Outage\Flat File Source.Outputs[Flat File Source Output]" />
          </paths>
        </pipeline>
      </DTS:ObjectData>
    </DTS:Executable>
  </DTS:Executables>
  <DTS:PrecedenceConstraints>
    <DTS:PrecedenceConstraint
      DTS:refId="Package.PrecedenceConstraints[Constraint]"
      DTS:CreationName=""
      DTS:DTSID="{DDF96D5C-B59A-4A3F-BBF0-10E92E669AA8}"
      DTS:From="Package\Delete from DimOutage"
      DTS:LogicalAnd="True"
      DTS:ObjectName="Constraint"
      DTS:To="Package\Outage" />
  </DTS:PrecedenceConstraints>
  <DTS:DesignTimeProperties><![CDATA[<?xml version="1.0"?>
<!--This CDATA section contains the layout information of the package. The section includes information such as (x,y) coordinates, width, and height.-->
<!--If you manually edit this section and make a mistake, you can delete it. -->
<!--The package will still be able to load normally but the previous layout information will be lost and the designer will automatically re-arrange the elements on the design surface.-->
<Objects
  Version="8">
  <!--Each node below will contain properties that do not affect runtime behavior.-->
  <Package
    design-time-name="Package">
    <LayoutInfo>
      <GraphLayout
        Capacity="4" xmlns="clr-namespace:Microsoft.SqlServer.IntegrationServices.Designer.Model.Serialization;assembly=Microsoft.SqlServer.IntegrationServices.Graph" xmlns:mssgle="clr-namespace:Microsoft.SqlServer.Graph.LayoutEngine;assembly=Microsoft.SqlServer.Graph" xmlns:assembly="http://schemas.microsoft.com/winfx/2006/xaml">
        <NodeLayout
          Size="194,42"
          Id="Package\Delete from DimOutage"
          TopLeft="266.5,42.5" />
        <NodeLayout
          Size="115,42"
          Id="Package\Outage"
          TopLeft="35.5,35.5" />
        <EdgeLayout
          Id="Package.PrecedenceConstraints[Constraint]"
          TopLeft="266.5,60">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="-116,0"
              Start="0,0"
              End="-108.5,0">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="-108.5,0" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <EdgeLabelCollection />
          </EdgeLayout.Labels>
        </EdgeLayout>
      </GraphLayout>
    </LayoutInfo>
  </Package>
  <TaskHost
    design-time-name="Package\Outage">
    <LayoutInfo>
      <GraphLayout
        Capacity="8" xmlns="clr-namespace:Microsoft.SqlServer.IntegrationServices.Designer.Model.Serialization;assembly=Microsoft.SqlServer.IntegrationServices.Graph" xmlns:mssgle="clr-namespace:Microsoft.SqlServer.Graph.LayoutEngine;assembly=Microsoft.SqlServer.Graph" xmlns:assembly="http://schemas.microsoft.com/winfx/2006/xaml" xmlns:mssgm="clr-namespace:Microsoft.SqlServer.Graph.Model;assembly=Microsoft.SqlServer.Graph">
        <NodeLayout
          Size="156,42"
          Id="Package\Outage\Flat File Source"
          TopLeft="123.5,4.5" />
        <NodeLayout
          Size="158,42"
          Id="Package\Outage\Derived Column"
          TopLeft="110.5,102.5" />
        <NodeLayout
          Size="161,42"
          Id="Package\Outage\Data Conversion"
          TopLeft="98.5,207.5" />
        <NodeLayout
          Size="177,42"
          Id="Package\Outage\OLE DB Destination"
          TopLeft="125.5,297.5" />
        <EdgeLayout
          Id="Package\Outage.Paths[Derived Column Output]"
          TopLeft="189.5,144.5">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="-10.5,63"
              Start="0,0"
              End="-10.5,55.5">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="0,27.5" />
                  <mssgle:CubicBezierSegment
                    Point1="0,27.5"
                    Point2="0,31.5"
                    Point3="-4,31.5" />
                  <mssgle:LineSegment
                    End="-6.5,31.5" />
                  <mssgle:CubicBezierSegment
                    Point1="-6.5,31.5"
                    Point2="-10.5,31.5"
                    Point3="-10.5,35.5" />
                  <mssgle:LineSegment
                    End="-10.5,55.5" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <mssgm:EdgeLabel
              BoundingBox="0,0,0,0"
              RelativePosition="Any" />
          </EdgeLayout.Labels>
        </EdgeLayout>
        <EdgeLayout
          Id="Package\Outage.Paths[Data Conversion Output]"
          TopLeft="179,249.5">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="35,48"
              Start="0,0"
              End="35,40.5">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="0,20" />
                  <mssgle:CubicBezierSegment
                    Point1="0,20"
                    Point2="0,24"
                    Point3="4,24" />
                  <mssgle:LineSegment
                    End="31,24" />
                  <mssgle:CubicBezierSegment
                    Point1="31,24"
                    Point2="35,24"
                    Point3="35,28" />
                  <mssgle:LineSegment
                    End="35,40.5" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <mssgm:EdgeLabel
              BoundingBox="9.5,29,16,16"
              RelativePosition="Any" />
          </EdgeLayout.Labels>
        </EdgeLayout>
        <EdgeLayout
          Id="Package\Outage.Paths[Flat File Source Output]"
          TopLeft="201.5,46.5">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="-12,56"
              Start="0,0"
              End="-12,48.5">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="0,24" />
                  <mssgle:CubicBezierSegment
                    Point1="0,24"
                    Point2="0,28"
                    Point3="-4,28" />
                  <mssgle:LineSegment
                    End="-8,28" />
                  <mssgle:CubicBezierSegment
                    Point1="-8,28"
                    Point2="-12,28"
                    Point3="-12,32" />
                  <mssgle:LineSegment
                    End="-12,48.5" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <mssgm:EdgeLabel
              BoundingBox="-14,33,16,16"
              RelativePosition="Any" />
          </EdgeLayout.Labels>
        </EdgeLayout>
      </GraphLayout>
    </LayoutInfo>
  </TaskHost>
  <PipelineComponentMetadata
    design-time-name="Package\Outage\OLE DB Destination">
    <Properties>
      <Property>
        <Name>DataSourceViewID</Name>
      </Property>
      <Property>
        <Name>TableInfoObjectType</Name>
        <Value
          type="q2:string">Table</Value>
      </Property>
    </Properties>
  </PipelineComponentMetadata>
</Objects>]]></DTS:DesignTimeProperties>
</DTS:Executable>