<?xml version="1.0"?>
<DTS:Executable xmlns:DTS="www.microsoft.com/SqlServer/Dts"
  DTS:refId="Package"
  DTS:CreationDate="5/26/2022 6:51:31 PM"
  DTS:CreationName="Microsoft.Package"
  DTS:CreatorComputerName="YITBARK"
  DTS:CreatorName="YITBARK\HP"
  DTS:DTSID="{5840C9BA-9812-4B05-B3D2-88F3614F393C}"
  DTS:ExecutableType="Microsoft.Package"
  DTS:LastModifiedProductVersion="15.0.2000.180"
  DTS:LocaleID="1033"
  DTS:ObjectName="FactITSLA"
  DTS:PackageType="5"
  DTS:VersionBuild="3"
  DTS:VersionGUID="{BC5988BF-ABBB-4F29-873A-246858180DF0}">
  <DTS:Property
    DTS:Name="PackageFormatVersion">8</DTS:Property>
  <DTS:ConnectionManagers>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[FactITSLA Conn]"
      DTS:CreationName="FLATFILE"
      DTS:DTSID="{3AC8ECE5-2FBB-48DD-B6A1-A3837F80390E}"
      DTS:ObjectName="FactITSLA Conn">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:Format="Delimited"
          DTS:LocaleID="1033"
          DTS:HeaderRowDelimiter="_x000D__x000A_"
          DTS:ColumnNamesInFirstDataRow="True"
          DTS:RowDelimiter=""
          DTS:TextQualifier="_x003C_none_x003E_"
          DTS:CodePage="1252"
          DTS:ConnectionString="C:\Users\HP\OneDrive - montgomerycollege.edu\Documents\SQL server traning\Esco-RetailProject\EscoFactITSLA.txt">
          <DTS:FlatFileColumns>
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x002C_"
              DTS:DataType="3"
              DTS:TextQualified="True"
              DTS:ObjectName="ITSLAkey"
              DTS:DTSID="{39D1F965-73BA-4115-8FCA-1ED724BA2D23}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x002C_"
              DTS:DataType="7"
              DTS:TextQualified="True"
              DTS:ObjectName="DateKey"
              DTS:DTSID="{B4C9439C-57B5-4823-A999-73FF6A386F24}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x002C_"
              DTS:DataType="3"
              DTS:TextQualified="True"
              DTS:ObjectName="StoreKey"
              DTS:DTSID="{CB2F1612-0F82-42EA-B1EE-EFCC0B42CDDA}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x002C_"
              DTS:DataType="3"
              DTS:TextQualified="True"
              DTS:ObjectName="MachineKey"
              DTS:DTSID="{88D35952-AD3F-420B-A85A-23846991518F}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x002C_"
              DTS:DataType="3"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageKey"
              DTS:DTSID="{A42C9BBA-26F3-4427-9BA8-B3915016C248}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x002C_"
              DTS:DataType="7"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageStartTime"
              DTS:DTSID="{82A684F0-CBFA-4618-AAEE-63B3A7C26428}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x002C_"
              DTS:DataType="7"
              DTS:TextQualified="True"
              DTS:ObjectName="OutageEndTime"
              DTS:DTSID="{F7C7B65E-D01C-492D-96FC-7AA97B6451E6}"
              DTS:CreationName="" />
            <DTS:FlatFileColumn
              DTS:ColumnType="Delimited"
              DTS:ColumnDelimiter="_x000D__x000A_"
              DTS:DataType="3"
              DTS:TextQualified="True"
              DTS:ObjectName="ETLLoadID"
              DTS:DTSID="{13FB1F32-7F3E-483A-9B62-7199195B26D1}"
              DTS:CreationName="" />
          </DTS:FlatFileColumns>
        </DTS:ConnectionManager>
      </DTS:ObjectData>
    </DTS:ConnectionManager>
    <DTS:ConnectionManager
      DTS:refId="Package.ConnectionManagers[yitbark\tariku.ESCO]"
      DTS:CreationName="OLEDB"
      DTS:DTSID="{D3972108-427E-4190-BA61-DDEF1237F47E}"
      DTS:ObjectName="yitbark\tariku.ESCO">
      <DTS:ObjectData>
        <DTS:ConnectionManager
          DTS:ConnectRetryCount="1"
          DTS:ConnectRetryInterval="5"
          DTS:ConnectionString="Data Source=yitbark\tariku;Initial Catalog=ESCO;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;" />
      </DTS:ObjectData>
    </DTS:ConnectionManager>
  </DTS:ConnectionManagers>
  <DTS:Variables>
    <DTS:Variable
      DTS:CreationName=""
      DTS:DTSID="{14DD4384-6E5A-4734-A14D-5B1C2DB6A512}"
      DTS:IncludeInDebugDump="6789"
      DTS:Namespace="User"
      DTS:ObjectName="DownTime">
      <DTS:VariableValue
        DTS:DataType="3">0</DTS:VariableValue>
    </DTS:Variable>
    <DTS:Variable
      DTS:CreationName=""
      DTS:DTSID="{FB0B86F0-22B0-4A27-842F-0F98842CF0D5}"
      DTS:IncludeInDebugDump="2345"
      DTS:Namespace="User"
      DTS:ObjectName="Downtime1">
      <DTS:VariableValue
        DTS:DataType="8"
        xml:space="preserve"></DTS:VariableValue>
    </DTS:Variable>
  </DTS:Variables>
  <DTS:Executables>
    <DTS:Executable
      DTS:refId="Package\Delete from FactITSLA"
      DTS:CreationName="Microsoft.ExecuteSQLTask"
      DTS:Description="Execute SQL Task"
      DTS:DTSID="{C78BA017-3705-467A-AF1C-9EC868BEFE69}"
      DTS:ExecutableType="Microsoft.ExecuteSQLTask"
      DTS:LocaleID="-1"
      DTS:ObjectName="Delete from FactITSLA"
      DTS:TaskContact="Execute SQL Task; Microsoft Corporation; SQL Server 2019; © 2019 Microsoft Corporation; All Rights Reserved;http://www.microsoft.com/sql/support/default.asp;1"
      DTS:ThreadHint="0">
      <DTS:Variables />
      <DTS:ObjectData>
        <SQLTask:SqlTaskData
          SQLTask:Connection="{D3972108-427E-4190-BA61-DDEF1237F47E}"
          SQLTask:SqlStatementSource="Delete from FactITSLA" xmlns:SQLTask="www.microsoft.com/sqlserver/dts/tasks/sqltask" />
      </DTS:ObjectData>
    </DTS:Executable>
    <DTS:Executable
      DTS:refId="Package\FactITSLA"
      DTS:CreationName="Microsoft.Pipeline"
      DTS:Description="Data Flow Task"
      DTS:DTSID="{3E4960CC-EBE7-4C1C-9778-1021D1820BA9}"
      DTS:ExecutableType="Microsoft.Pipeline"
      DTS:LocaleID="-1"
      DTS:ObjectName="FactITSLA"
      DTS:TaskContact="Performs high-performance data extraction, transformation and loading;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved;http://www.microsoft.com/sql/support/default.asp;1">
      <DTS:Variables />
      <DTS:ObjectData>
        <pipeline
          version="1">
          <components>
            <component
              refId="Package\FactITSLA\Derived Column"
              componentClassID="Microsoft.DerivedColumn"
              contactInfo="Derived Column;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;0"
              description="Creates new column values by applying expressions to transformation input columns. Create new columns or overwrite existing ones. For example, concatenate the values from the 'first name' and 'last name' column to make a 'full name' column."
              name="Derived Column"
              usesDispositions="true">
              <inputs>
                <input
                  refId="Package\FactITSLA\Derived Column.Inputs[Derived Column Input]"
                  description="Input to the Derived Column Transformation"
                  name="Derived Column Input">
                  <externalMetadataColumns />
                </input>
              </inputs>
              <outputs>
                <output
                  refId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output]"
                  description="Default Output of the Derived Column Transformation"
                  exclusionGroup="1"
                  name="Derived Column Output"
                  synchronousInputId="Package\FactITSLA\Derived Column.Inputs[Derived Column Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]"
                      dataType="dbTimeStamp"
                      errorOrTruncationOperation="Computation"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]"
                      name="LoadDate"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Expression"
                          name="Expression">[GETDATE]()</property>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Friendly Expression"
                          expressionType="Notify"
                          name="FriendlyExpression">GETDATE()</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]"
                      dataType="dbTimeStamp"
                      errorOrTruncationOperation="Computation"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]"
                      name="UpdateDate"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Expression"
                          name="Expression">[GETDATE]()</property>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Friendly Expression"
                          expressionType="Notify"
                          name="FriendlyExpression">GETDATE()</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[Downtime1]"
                      dataType="wstr"
                      errorOrTruncationOperation="Computation"
                      errorRowDisposition="FailComponent"
                      length="40"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[Downtime1]"
                      name="Downtime1"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Expression"
                          name="Expression">(DT_WSTR,40)(@[User::Downtime1])</property>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Friendly Expression"
                          expressionType="Notify"
                          name="FriendlyExpression">(DT_WSTR,40)(@[User::Downtime1])</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[Downtime]"
                      dataType="i4"
                      errorOrTruncationOperation="Computation"
                      errorRowDisposition="FailComponent"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[Downtime]"
                      name="Downtime"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Expression"
                          name="Expression">@[User::DownTime]</property>
                        <property
                          containsID="true"
                          dataType="System.String"
                          description="Derived Column Friendly Expression"
                          expressionType="Notify"
                          name="FriendlyExpression">@[User::DownTime]</property>
                      </properties>
                    </outputColumn>
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
                <output
                  refId="Package\FactITSLA\Derived Column.Outputs[Derived Column Error Output]"
                  description="Error Output of the Derived Column Transformation"
                  exclusionGroup="1"
                  isErrorOut="true"
                  name="Derived Column Error Output"
                  synchronousInputId="Package\FactITSLA\Derived Column.Inputs[Derived Column Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\FactITSLA\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\FactITSLA\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
            <component
              refId="Package\FactITSLA\Flat File Source"
              componentClassID="Microsoft.FlatFileSource"
              contactInfo="Flat File Source;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;1"
              description="Flat File Source"
              localeId="1033"
              name="Flat File Source"
              usesDispositions="true"
              version="1">
              <properties>
                <property
                  dataType="System.Boolean"
                  description="Specifies whether zero-length columns are treated as null."
                  name="RetainNulls">true</property>
                <property
                  dataType="System.String"
                  description="Specifies the name of an output column containing the file name. If no name is specified, no output column containing the file name will be generated."
                  name="FileNameColumnName"></property>
              </properties>
              <connections>
                <connection
                  refId="Package\FactITSLA\Flat File Source.Connections[FlatFileConnection]"
                  connectionManagerID="Package.ConnectionManagers[FactITSLA Conn]"
                  connectionManagerRefId="Package.ConnectionManagers[FactITSLA Conn]"
                  name="FlatFileConnection" />
              </connections>
              <outputs>
                <output
                  refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output]"
                  name="Flat File Source Output">
                  <outputColumns>
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[MachineKey]"
                      dataType="i4"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[MachineKey]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[MachineKey]"
                      name="MachineKey"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]"
                      dataType="i4"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[ETLLoadID]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]"
                      name="ETLLoadID"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[ITSLAkey]"
                      dataType="i4"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[ITSLAkey]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[ITSLAkey]"
                      name="ITSLAkey"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[DateKey]"
                      dataType="date"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[DateKey]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[DateKey]"
                      name="DateKey"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[StoreKey]"
                      dataType="i4"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[StoreKey]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[StoreKey]"
                      name="StoreKey"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[OutageKey]"
                      dataType="i4"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageKey]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[OutageKey]"
                      name="OutageKey"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[OutageStartTime]"
                      dataType="date"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageStartTime]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[OutageStartTime]"
                      name="OutageStartTime"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[OutageEndTime]"
                      dataType="date"
                      errorOrTruncationOperation="Conversion"
                      errorRowDisposition="FailComponent"
                      externalMetadataColumnId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageEndTime]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[OutageEndTime]"
                      name="OutageEndTime"
                      truncationRowDisposition="FailComponent">
                      <properties>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the column uses the faster, locale-neutral parsing routines."
                          name="FastParse">false</property>
                        <property
                          dataType="System.Boolean"
                          description="Indicates whether the data is in binary format."
                          name="UseBinaryFormat">false</property>
                      </properties>
                    </outputColumn>
                  </outputColumns>
                  <externalMetadataColumns
                    isUsed="True">
                    <externalMetadataColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[MachineKey]"
                      dataType="i4"
                      name="MachineKey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[ETLLoadID]"
                      dataType="i4"
                      name="ETLLoadID" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[ITSLAkey]"
                      dataType="i4"
                      name="ITSLAkey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[DateKey]"
                      dataType="date"
                      name="DateKey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[StoreKey]"
                      dataType="i4"
                      name="StoreKey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageKey]"
                      dataType="i4"
                      name="OutageKey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageStartTime]"
                      dataType="date"
                      name="OutageStartTime" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].ExternalColumns[OutageEndTime]"
                      dataType="date"
                      name="OutageEndTime" />
                  </externalMetadataColumns>
                </output>
                <output
                  refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Error Output]"
                  isErrorOut="true"
                  name="Flat File Source Error Output">
                  <outputColumns>
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Error Output].Columns[Flat File Source Error Output Column]"
                      codePage="1252"
                      dataType="text"
                      description="Flat File Source Error Output Column"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Error Output].Columns[Flat File Source Error Output Column]"
                      name="Flat File Source Error Output Column" />
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
            <component
              refId="Package\FactITSLA\OLE DB Destination"
              componentClassID="Microsoft.OLEDBDestination"
              contactInfo="OLE DB Destination;Microsoft Corporation; Microsoft SQL Server; (C) Microsoft Corporation; All Rights Reserved; http://www.microsoft.com/sql/support;4"
              description="OLE DB Destination"
              name="OLE DB Destination"
              usesDispositions="true"
              version="4">
              <properties>
                <property
                  dataType="System.Int32"
                  description="The number of seconds before a command times out.  A value of 0 indicates an infinite time-out."
                  name="CommandTimeout">0</property>
                <property
                  dataType="System.String"
                  description="Specifies the name of the database object used to open a rowset."
                  name="OpenRowset">[dbo].[FactITSLA]</property>
                <property
                  dataType="System.String"
                  description="Specifies the variable that contains the name of the database object used to open a rowset."
                  name="OpenRowsetVariable"></property>
                <property
                  dataType="System.String"
                  description="The SQL command to be executed."
                  name="SqlCommand"
                  UITypeEditor="Microsoft.DataTransformationServices.Controls.ModalMultilineStringEditor"></property>
                <property
                  dataType="System.Int32"
                  description="Specifies the column code page to use when code page information is unavailable from the data source."
                  name="DefaultCodePage">1252</property>
                <property
                  dataType="System.Boolean"
                  description="Forces the use of the DefaultCodePage property value when describing character data."
                  name="AlwaysUseDefaultCodePage">false</property>
                <property
                  dataType="System.Int32"
                  description="Specifies the mode used to access the database."
                  name="AccessMode"
                  typeConverter="AccessMode">3</property>
                <property
                  dataType="System.Boolean"
                  description="Indicates whether the values supplied for identity columns will be copied to the destination. If false, values for identity columns will be auto-generated at the destination. Applies only if fast load is turned on."
                  name="FastLoadKeepIdentity">false</property>
                <property
                  dataType="System.Boolean"
                  description="Indicates whether the columns containing null will have null inserted in the destination. If false, columns containing null will have their default values inserted at the destination. Applies only if fast load is turned on."
                  name="FastLoadKeepNulls">false</property>
                <property
                  dataType="System.String"
                  description="Specifies options to be used with fast load.  Applies only if fast load is turned on."
                  name="FastLoadOptions">TABLOCK,CHECK_CONSTRAINTS</property>
                <property
                  dataType="System.Int32"
                  description="Specifies when commits are issued during data insertion.  A value of 0 specifies that one commit will be issued at the end of data insertion.  Applies only if fast load is turned on."
                  name="FastLoadMaxInsertCommitSize">2147483647</property>
              </properties>
              <connections>
                <connection
                  refId="Package\FactITSLA\OLE DB Destination.Connections[OleDbConnection]"
                  connectionManagerID="Package.ConnectionManagers[yitbark\tariku.ESCO]"
                  connectionManagerRefId="Package.ConnectionManagers[yitbark\tariku.ESCO]"
                  description="The OLE DB runtime connection used to access the database."
                  name="OleDbConnection" />
              </connections>
              <inputs>
                <input
                  refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input]"
                  errorOrTruncationOperation="Insert"
                  errorRowDisposition="FailComponent"
                  hasSideEffects="true"
                  name="OLE DB Destination Input">
                  <inputColumns>
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[MachineKey]"
                      cachedDataType="i4"
                      cachedName="MachineKey"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[MachineKey]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[MachineKey]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[ETLLoadID]"
                      cachedDataType="i4"
                      cachedName="ETLLoadID"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[ETLLoadID]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[ETLLoadID]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[LoadDate]"
                      cachedDataType="dbTimeStamp"
                      cachedName="LoadDate"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[LoadDate]"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[LoadDate]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[UpdateDate]"
                      cachedDataType="dbTimeStamp"
                      cachedName="UpdateDate"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[UpdateDate]"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[UpdateDate]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[DateKey]"
                      cachedDataType="date"
                      cachedName="DateKey"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[DateKey]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[DateKey]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[StoreKey]"
                      cachedDataType="i4"
                      cachedName="StoreKey"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[StoreKey]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[StoreKey]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[OutageKey]"
                      cachedDataType="i4"
                      cachedName="OutageKey"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageKey]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[OutageKey]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[OutageStartTime]"
                      cachedDataType="date"
                      cachedName="OutageStartTime"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageStartTime]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[OutageStartTime]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[OutageEndTime]"
                      cachedDataType="date"
                      cachedName="OutageEndTime"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageEndTime]"
                      lineageId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output].Columns[OutageEndTime]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Downtime]"
                      cachedDataType="i4"
                      cachedName="Downtime"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[DownTime]"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[Downtime]" />
                    <inputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].Columns[Downtime1]"
                      cachedDataType="wstr"
                      cachedLength="40"
                      cachedName="Downtime1"
                      externalMetadataColumnId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[DownTime1]"
                      lineageId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output].Columns[Downtime1]" />
                  </inputColumns>
                  <externalMetadataColumns
                    isUsed="True">
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[MachineKey]"
                      dataType="i4"
                      name="MachineKey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[ETLLoadID]"
                      dataType="i4"
                      name="ETLLoadID" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[LoadDate]"
                      dataType="dbTimeStamp"
                      name="LoadDate" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[UpdateDate]"
                      dataType="dbTimeStamp"
                      name="UpdateDate" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[ITSLAkey]"
                      dataType="i4"
                      name="ITSLAkey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[DateKey]"
                      dataType="dbTimeStamp"
                      name="DateKey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[StoreKey]"
                      dataType="i4"
                      name="StoreKey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageKey]"
                      dataType="i4"
                      name="OutageKey" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageStartTime]"
                      dataType="dbTimeStamp"
                      name="OutageStartTime" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[OutageEndTime]"
                      dataType="dbTimeStamp"
                      name="OutageEndTime" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[DownTime]"
                      dataType="i4"
                      name="DownTime" />
                    <externalMetadataColumn
                      refId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input].ExternalColumns[DownTime1]"
                      dataType="wstr"
                      length="40"
                      name="DownTime1" />
                  </externalMetadataColumns>
                </input>
              </inputs>
              <outputs>
                <output
                  refId="Package\FactITSLA\OLE DB Destination.Outputs[OLE DB Destination Error Output]"
                  exclusionGroup="1"
                  isErrorOut="true"
                  name="OLE DB Destination Error Output"
                  synchronousInputId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input]">
                  <outputColumns>
                    <outputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorCode]"
                      dataType="i4"
                      lineageId="Package\FactITSLA\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorCode]"
                      name="ErrorCode"
                      specialFlags="1" />
                    <outputColumn
                      refId="Package\FactITSLA\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorColumn]"
                      dataType="i4"
                      lineageId="Package\FactITSLA\OLE DB Destination.Outputs[OLE DB Destination Error Output].Columns[ErrorColumn]"
                      name="ErrorColumn"
                      specialFlags="2" />
                  </outputColumns>
                  <externalMetadataColumns />
                </output>
              </outputs>
            </component>
          </components>
          <paths>
            <path
              refId="Package\FactITSLA.Paths[Derived Column Output]"
              endId="Package\FactITSLA\OLE DB Destination.Inputs[OLE DB Destination Input]"
              name="Derived Column Output"
              startId="Package\FactITSLA\Derived Column.Outputs[Derived Column Output]" />
            <path
              refId="Package\FactITSLA.Paths[Flat File Source Output]"
              endId="Package\FactITSLA\Derived Column.Inputs[Derived Column Input]"
              name="Flat File Source Output"
              startId="Package\FactITSLA\Flat File Source.Outputs[Flat File Source Output]" />
          </paths>
        </pipeline>
      </DTS:ObjectData>
    </DTS:Executable>
  </DTS:Executables>
  <DTS:PrecedenceConstraints>
    <DTS:PrecedenceConstraint
      DTS:refId="Package.PrecedenceConstraints[Constraint]"
      DTS:CreationName=""
      DTS:DTSID="{837D167C-7720-4406-9EEE-5B4138A1DC20}"
      DTS:From="Package\Delete from FactITSLA"
      DTS:LogicalAnd="True"
      DTS:ObjectName="Constraint"
      DTS:To="Package\FactITSLA" />
  </DTS:PrecedenceConstraints>
  <DTS:DesignTimeProperties><![CDATA[<?xml version="1.0"?>
<!--This CDATA section contains the layout information of the package. The section includes information such as (x,y) coordinates, width, and height.-->
<!--If you manually edit this section and make a mistake, you can delete it. -->
<!--The package will still be able to load normally but the previous layout information will be lost and the designer will automatically re-arrange the elements on the design surface.-->
<Objects
  Version="8">
  <!--Each node below will contain properties that do not affect runtime behavior.-->
  <Package
    design-time-name="Package">
    <LayoutInfo>
      <GraphLayout
        Capacity="4" xmlns="clr-namespace:Microsoft.SqlServer.IntegrationServices.Designer.Model.Serialization;assembly=Microsoft.SqlServer.IntegrationServices.Graph" xmlns:mssgle="clr-namespace:Microsoft.SqlServer.Graph.LayoutEngine;assembly=Microsoft.SqlServer.Graph" xmlns:assembly="http://schemas.microsoft.com/winfx/2006/xaml">
        <NodeLayout
          Size="191,42"
          Id="Package\Delete from FactITSLA"
          TopLeft="45,17" />
        <NodeLayout
          Size="131,42"
          Id="Package\FactITSLA"
          TopLeft="68,131" />
        <EdgeLayout
          Id="Package.PrecedenceConstraints[Constraint]"
          TopLeft="137,59">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="0,72"
              Start="0,0"
              End="0,64.5">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="0,64.5" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <EdgeLabelCollection />
          </EdgeLayout.Labels>
        </EdgeLayout>
      </GraphLayout>
    </LayoutInfo>
  </Package>
  <TaskHost
    design-time-name="Package\FactITSLA">
    <LayoutInfo>
      <GraphLayout
        Capacity="8" xmlns="clr-namespace:Microsoft.SqlServer.IntegrationServices.Designer.Model.Serialization;assembly=Microsoft.SqlServer.IntegrationServices.Graph" xmlns:mssgle="clr-namespace:Microsoft.SqlServer.Graph.LayoutEngine;assembly=Microsoft.SqlServer.Graph" xmlns:assembly="http://schemas.microsoft.com/winfx/2006/xaml">
        <NodeLayout
          Size="177,42"
          Id="Package\FactITSLA\OLE DB Destination"
          TopLeft="21.5,190.5" />
        <NodeLayout
          Size="158,42"
          Id="Package\FactITSLA\Derived Column"
          TopLeft="59.5,96.5" />
        <NodeLayout
          Size="156,42"
          Id="Package\FactITSLA\Flat File Source"
          TopLeft="5.5,5.5" />
        <EdgeLayout
          Id="Package\FactITSLA.Paths[Flat File Source Output]"
          TopLeft="83.5,47.5">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="55,49"
              Start="0,0"
              End="55,41.5">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="0,20.5" />
                  <mssgle:CubicBezierSegment
                    Point1="0,20.5"
                    Point2="0,24.5"
                    Point3="4,24.5" />
                  <mssgle:LineSegment
                    End="51,24.5" />
                  <mssgle:CubicBezierSegment
                    Point1="51,24.5"
                    Point2="55,24.5"
                    Point3="55,28.5" />
                  <mssgle:LineSegment
                    End="55,41.5" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <EdgeLabelCollection />
          </EdgeLayout.Labels>
        </EdgeLayout>
        <EdgeLayout
          Id="Package\FactITSLA.Paths[Derived Column Output]"
          TopLeft="138.5,138.5">
          <EdgeLayout.Curve>
            <mssgle:Curve
              StartConnector="{assembly:Null}"
              EndConnector="-28.5,52"
              Start="0,0"
              End="-28.5,44.5">
              <mssgle:Curve.Segments>
                <mssgle:SegmentCollection
                  Capacity="5">
                  <mssgle:LineSegment
                    End="0,22" />
                  <mssgle:CubicBezierSegment
                    Point1="0,22"
                    Point2="0,26"
                    Point3="-4,26" />
                  <mssgle:LineSegment
                    End="-24.5,26" />
                  <mssgle:CubicBezierSegment
                    Point1="-24.5,26"
                    Point2="-28.5,26"
                    Point3="-28.5,30" />
                  <mssgle:LineSegment
                    End="-28.5,44.5" />
                </mssgle:SegmentCollection>
              </mssgle:Curve.Segments>
            </mssgle:Curve>
          </EdgeLayout.Curve>
          <EdgeLayout.Labels>
            <EdgeLabelCollection />
          </EdgeLayout.Labels>
        </EdgeLayout>
      </GraphLayout>
    </LayoutInfo>
  </TaskHost>
  <PipelineComponentMetadata
    design-time-name="Package\FactITSLA\OLE DB Destination">
    <Properties>
      <Property>
        <Name>DataSourceViewID</Name>
      </Property>
      <Property>
        <Name>TableInfoObjectType</Name>
        <Value
          type="q2:string">Table</Value>
      </Property>
    </Properties>
  </PipelineComponentMetadata>
</Objects>]]></DTS:DesignTimeProperties>
</DTS:Executable>