<?xml version="1.0"?>
<DTS:Executable xmlns:DTS="www.microsoft.com/SqlServer/Dts"
  DTS:refId="Package"
  DTS:CreationDate="6/3/2022 12:57:48 AM"
  DTS:CreationName="Microsoft.Package"
  DTS:CreatorComputerName="YITBARK"
  DTS:CreatorName="YITBARK\HP"
  DTS:DTSID="{BF834067-A842-4927-820F-D06E2723B30E}"
  DTS:ExecutableType="Microsoft.Package"
  DTS:LastModifiedProductVersion="16.0.521.0"
  DTS:LocaleID="1033"
  DTS:ObjectName="Package"
  DTS:PackageType="5"
  DTS:VersionGUID="{37C6ABFB-8105-42FC-81BA-E3B1153D72E6}">
  <DTS:Property
    DTS:Name="PackageFormatVersion">8</DTS:Property>
  <DTS:Variables />
  <DTS:Executables />
</DTS:Executable>